<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @recipe.title %>
      </h1>
      <h2 class="subtitle">
        <%= @recipe.description %>
      </h2>
    </div>
  </div>
</section>

<section class="section">
	<div class="container is-desktop">
		<div class="tile is-ancestor">

			<div class="tile is-4 is-vertical is-parent">
				<div class="tile is-child box">
					<p><i class="fa fa-users add-margin-right"></i>Serves: <strong><%= @recipe.serves %></strong> </p>
					<p><i class="fa fa-clock-o add-margin-right"></i>Prep Time: <strong><%= @recipe.prep %></strong> </p>
					<p><i class="fa fa-clock-o add-margin-right"></i>Wait Time: <strong><%= @recipe.wait %></strong> </p>
				</div>
				<div class="tile is-child box">
					<p class="title"><i class="fa fa-list"></i>&nbsp;&nbsp;Ingredients</p>
					<ul class="recipe-ingredients">
						<% @recipe.ingredients.each do |ingredient| %>
							<li> <%= ingredient.name %> </li>
						<% end %>
					</ul>
				</div>
			</div>

			<div class="tile is-parent">
				<div class="tile is-child box">
					<p class="title"><i class="fa fa-list-ol"></i>&nbsp;&nbsp;Directions</p>
					<ol class="recipe-directions">
						<% @recipe.directions.each do |direction| %>
							<li> <%= direction.step %> </li>
						<% end %>
					</ol>
				</div>
			</div>

		</div>

		<div class="buttons are-small">
			<% @recipe.tags.each do |tag| %>
				<%= link_to tag.name, tag_path(tag), class: "button" %>
			<% end %>
		</div>

	</div>
</section>