<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @tag.name.capitalize.pluralize %>
      </h1>
    </div>
  </div>
</section>

<section class="section">
	<div class="container is-fluid">
		<div class="tile is-ancestor wrap-children">

			<% @tag.recipes.each do |recipe| %>
				<div class="tile is-parent is-4 recipe-holder">
					<article class="tile is-child box recipe-box">
						<p class="title">
							<%= link_to recipe.title, recipe, class: "recipe-link-title" %>
						</p>
						<!-- <p class="title"> <%= recipe.title %> </p> -->
						<div class="recipe-summary-body">
							<p class="recipe-snippet"><i class="fa fa-users add-margin-right"></i>&nbsp;Serves: <strong><%= recipe.serves %></strong> </p>
							<p class="recipe-snippet"><i class="fa fa-clock-o add-margin-right"></i>&nbsp;Prep Time: <strong><%= recipe.prep %></strong> </p>
							<p class="recipe-snippet"><i class="fa fa-clock-o add-margin-right"></i>&nbsp;Wait Time: <strong><%= recipe.wait %></strong> </p>
							<p class="subtitle recipe-description"> <%= recipe.description %> </p>
						</div>
					</article>
				</div>
			<% end %>

		</div>
	</div>
</section>