<!DOCTYPE html>
<html>
  <head>
    <title>Minke's Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top">

    <% if flash[:notice] %>
      <div class="notification is-primary global-notification" id="flash-notice">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification" id="flash-alert">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar is-fixed-top has-shadow">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title is-5">Minke.XYZ</h1>
        <% end %>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to recipes_path, class: "navbar-item" do %>
            <i class="fa fa-cutlery add-margin-right"></i> 
              <span>Recipes</span>
          <% end %>
          <%= link_to tags_path, class: "navbar-item" do %>
            <i class="fa fa-tags add-margin-right"></i> 
              <span>Tags</span>
          <% end %> 
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <% if action_name == "index" %>
              <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Search..." id="search-box">
                <span class="icon is-small is-left">
                  <i class="fa fa-search"></i>
                </span>
              </p>
              <% end %>
              <% if action_name == "show" && controller_name == "recipes" %>
                <p class="control">
                  <%= link_to "Edit", edit_recipe_path, class: "button is-info" %>
                </p>
                <p class="control">
                  <%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure you want to delete this recipe?"}, class: "button is-info is-danger" %>
                </p>
              <% end %>
              <% if action_name == "show" && controller_name == "tags" %>
                <p class="control">
                  <%= link_to "Delete", tag_path, method: :delete, data: {confirm: "Are you sure you want to delete this tag?"}, class: "button is-info is-danger" %>
                </p>
              <% end %>
              <% if action_name == "new" && controller_name == "recipes" %>
                <p class="control">
                  <%= link_to "Cancel", root_path, data: {confirm: "Are you sure you want to cancel this recipe creation? Your information will not be saved."}, class: "button is-info is-danger" %>
                </p>
              <% end %>
              <% if action_name != "new" %>
                <p class="control">
                  <%= link_to "New Recipe", new_recipe_path, class: "button is-primary" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </nav>

    <%= yield %>

  </body>
</html>
